.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 530px;
}


footer{
    text-align: center;
}

.contenedorForm{
    margin-top: 25px;
    background-color: #fff;
    width: 694px;
    height: 690px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 50px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.contenedorForm img{
    max-width: 22rem;
    margin-top: 50px;
}

.formLogin{
    width: 100%;
}

.formGroup{
    text-align: center;
}

@media (width < 830px){

    .container{
        min-width: 300px;
    }

    .contenedorForm{
        width: 500px;
    }

    .contenedorForm img{
        max-width: 13rem;
        margin-top: 50px;
    }
}

@media (width < 600px){
    .container{
        min-width: 300px;
    }

    .contenedorForm{
        width: 300px;
        height: 620px;
    }

    .contenedorForm img{
        max-width: 13rem;
        margin-top: 50px;
    }
}